//color
$colorMain: #FF6E00 !default;
$colorSec: #853900 !default;//rgb(133,58,0)
$colorCancel: #777777 !default;//取消按鈕
$colorGray:#666666 !default; //一般icon狀態灰色
$colorWhite: #ffffff;

$colorheaderBG: #311401;
$colorNegative: #c80000;//#af0000;//負數與警告
$colorShiny: #fdff5a;//背景閃

//btnStatusOpen,btnStatusSuspend,btnStatusLocked,btnStatusClose
$colorOpen: #63A41B;//狀態Open
$colorSuspend: #A63A3A;//狀態Suspend
$colorLocked: #707070;//狀態Locked
$colorClose: #3c3c3c;//狀態Close
$color-gray: #999999;//

//
$colorBG-1: #FFFEEF;//淡黃色
$colorBG-2: #eeeeee;//淺灰色#F7F7F7
$colorBG-3: #fff7f2;//tr:hover//淺橘色#fff1e8

//gray
$lineGray: #979797;
$fontColor: #3B3B3B;

//newMember設定欄位背景配色
$colorNewMember: #5C412D;

//***************************************************//
//nav
$navTittle: #222222 !default;
$navList: #5A5A5A !default;

//箭頭
$colorBGNav: #F1F1F1 !default;

//***************************************************//
//cock+Baccarat+Venus
$colorBetRed: #D0021B;
$colorBetBlue: #0046a0;
$colorBetGreen: #006e08;
$colorBetGold: #856802;
$colorBetGray: #4e4e4e;

//InRunning
$colorLive: #5e00b1;

//weather
$colorRain: #057EC1;
$colorNoRain: #3f6b00;

//品牌 //New Platform
$colorCock: #e64a00;
$colorWeather: #057EC1;
$colorSexyBaccarat: #9c103d;
$colorVenus: #856802;
$colorUg: #2d6945;
$colorJdb: #690808;
$colorIconic: #75848c;
$colorEvolution:#395F7D;
$colorSunbet: #CA882F;
$colorRedTiger: #EE2C2C;
$colorCQ9: #258795;
$colorFishing:#3227AB;
$colorRngTable: #672568;
$colorSpade:#BA1218;
$colorPP: #FF9200;
$colorSSport: #6A1F83;
$color365cards: #3D2E8E;
$colorSA: #003731;
$colorKingmaker: #D8B200;
$colorVnLottery: #a6b431;
$colorYL: #d58826;
$colorSBO: #305ca4;
$colorHRB: #466792;
$colorPocket: #ff2d55;
$colorNetent: #77bd1f;
$coloeWAC: #b10f95;
$colorEzugi: #439ede;
$colorJili: #7d4801;
$colorFachai: #ff422c;

//
$colorRcb: #EB7500;

//***************************************************//
//文字變數
$fontSize: 14px;
$fontSize-S: 13px;
$fontSize-M: 16px;
$fontSize-L: 18px;

//***************************************************//
// disabled
$color-disabled: #EAEAEA;
$color-placeholder: #ddd;

//***************************************************//
//漸層色
%gradientMain{background-image: linear-gradient(-90deg, #FFA713 0%, #FF6D00 100%);}
%gradientSec{background-image: linear-gradient(90deg, #311D0B 0%, #5D3816 100%);}