//所有#號 -> %23
//svg
  //2FA Setting
  @function svg-shield-2FA($color) {
	$colorCode: str-slice(inspect($color), 2);
	@return url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="768" height="768"><path fill="%23#{$colorCode}" d="M385.1 667.6c-37.9-21.5-141.4-86.2-193.6-177.6-2.5-4.4-4.9-8.8-7.1-13.3-14.6-29.2-23.3-60.1-23.3-92.7V182.2l224-84 224 84V384c0 32.6-8.7 63.5-23.2 92.7-2.2 4.5-4.6 8.9-7.1 13.3-52.2 91.4-155.8 156.1-193.7 177.6zm14.3 65S559 653.4 634.3 521.8c3.1-5.4 6-10.9 8.8-16.5 18.2-36.3 30-77.1 30-121.3V160c0-13.6-8.5-25.3-20.8-30l-256-96c-7.6-2.8-15.5-2.6-22.5 0l-256 96c-12.8 4.8-20.7 16.9-20.8 30v224c0 44.2 11.8 85 30 121.3 2.8 5.6 5.7 11.1 8.8 16.5C211 653.4 370.7 732.6 370.7 732.6c9.5 4.7 20 4.4 28.7 0z"/><path fill="%23#{$colorCode}" d="M445 288.3c0-33.1-26.8-59.9-59.9-59.9s-59.9 26.8-59.9 59.9c0 19.3 9.2 36.5 23.5 47.4l-23.5 120.5H445l-23.5-120.5c14.3-10.9 23.5-28 23.5-47.4z"/></svg>');
  }
  //***************************************************//
  //big close
  @function svg-big-close($color) {
	$colorCode: str-slice(inspect($color), 2);
	@return url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path fill="%23#{$colorCode}" d="M17.414 16L24 9.414 22.586 8 16 14.586 9.414 8 8 9.414 14.586 16 8 22.586 9.414 24 16 17.414 22.586 24 24 22.586z"/></svg>');
  }
  
  @function svg-search($color) {
	$colorCode: str-slice(inspect($color), 2);
	@return url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path fill="%23#{$colorCode}" d="M30 28.59L22.45 21A11 11 0 1021 22.45L28.59 30 30 28.59zM5 14c0-4.971 4.029-9 9-9s9 4.029 9 9-4.029 9-9 9-9-4.029-9-9z"/></svg>');
  }

  //***************************************************//
// ==========
// icon 
.icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.icon-shield-2FA{
	background-image: svg-shield-2FA($colorGray);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px;
}