/* calendar */
dl{ 
	font-size: 14px;
}
dt{
	float: left;
	border: 1px solid #903a0b;
	width: 26px;
	text-align: center;
	border-radius: 3px;
	color: #903a0b;
	margin: 1px 3px 0 5px;
}
dd{ 
	line-height: 23px;
	line-height: 20px\9;
	color: #000;
	text-align: left;
}
.thisWeek{
	width: 100%;
	margin-top: 5px;
	border: 1px solid #545454;
	thead{ background-color: #262626;}
	th{ 
		height: 30px;
		font-size: 20px;
		color: #fefefe;
		font-weight: normal;
	}
	dl{ 
		min-height: 100px;
		margin-top: 5px;
	}
	span{
		font-size: 14px;
		color: #bdbdbd;
		padding-left: 5px;
	}
	td{ 
		vertical-align: top;
		width: 141px;
		border-right: 1px solid #545454;
		text-align: center;
	}
}
.datepast{
	background-color: #f0f0f0;
	dt{	
		border-color: #757575;
		color: #757575;
	}
	dd{ color: #757575;}
}
.today{
	background-color: #000;
	border: 2px solid #FFA646;
	border-bottom: 0;
	span{ color: #FFA646;}
}
.todaylist{
	background-color: #FFA646;
	position: relative;
	span{
		width: 21px;
		height: 10px;
		background: url(../images/iconSet.png) no-repeat 0 -1720px;
		position: absolute;
		top: -2px;
		left: 61px;
		text-indent: -99999px;
	}
	dt{	
		border-color: #171717;
		color: #fff;
		background-color: #1e1e1e;
	}
}
.month{
	margin-top: 18px;
	h2{
		font-size: 21px;
		color: #4C4C4C;
		font-weight: normal;
		float: left;
		margin: 0 10px;
		line-height: 18px;
	}
	a{
		display: block;
		background: url(../images/iconSet.png) no-repeat 5px -1560px;
		text-indent: -99999px;
		width: 18px;
		height: 18px;
		float: left;
		padding: 0 3px;
	}
	.arrowRight{
		background-position: 5px -1612px;
	}
	.arrowLnostatus{
		cursor: default;
		background-position: 5px -2081px;
	}
	.arrowRnostatus{
		background-position: 5px -2163px;
		@extend .arrowLnostatus;
	}
}
.calendar{
	width: 100%;
	border: 1px solid #a5a5a5;
	margin-top: 10px;
	th{
		height: 30px;
		background-color: #e7e7e7;
		font-size: 14px;
		font-weight: normal;
	}
	dl{ min-height: 70px;}
	td{
		width: 142px;
		border: 1px solid #a5a5a5;
		vertical-align: top;
	}
	p{
		font-size: 16px;
		font-weight: bold;
		text-align: right;
		margin: 2px 3px 0 0;
	}
}
.show_more{
	display: block;
	text-indent: -99999px;
	background: url(../images/iconSet.png) no-repeat 0 -1663px;
	width: 12px;
	height: 22px;
	float: right;
}
.calendar_more{
	position: absolute;
	left: 887px;
	top: 603px;
	width: 142px;
	background-color: #fff;
	border: 1px solid #999;
	z-index: 100;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
	min-height: 104px;
	h3{
		background-color: #FD8503;
		font-size: 16px;
		padding: 2px 2px 2px 5px;
	}
	dl{ margin: 9px 0;}
	dt{ margin-right: 5px;}
	a{
		text-indent: -99999px;
		display: block;
		width: 17px;
		height: 17px;
		background: url(../images/iconSet.png) no-repeat 0 -1759px;
		position: absolute;
		right: 1px;
		top: 2px;
	}
}