*{
	margin: 0;
	padding: 0;
}
html, body{
	background: url(../images/bg-notice.jpg) repeat-x center top #dadada;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: center;
	color: #333;
}
body{
	padding-top: 10%;
}

//
h1{
	width: 610px;
	background: url(../images/pic-notice.gif) no-repeat center bottom;
	margin: 0 auto 20px;
	padding: 0 0 20px 0;	
}

p{
	width: 590px;
	padding: 0 0 80px 0;
	margin: 0 auto;
	line-height: 25px;
}

strong{
	color: #cb1d00;
}
