*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
	//color: #666;
}
a{
	text-decoration: none;
	color: #444;
	outline: none; //for Firefox
    hlbr:expression(this.onFocus=this.blur()); //for IE

	// &:hover{ color: #00A1D9;}
}
table{ border-collapse: collapse;}
input{
	background-color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	//color: #666;
	//border: 1px #aaa solid;
}

//------------- Clear
.clearfix:after { 
    content: "";
    display: block;
    clear: both;
}
.clearfix { zoom: 1; }
.clear{clear: both;}

//------------- Float
.float-L{float: left;}
.float-R{float: right;}

//------------- Align
.align-L{text-align: left;}
.align-R{text-align: right;}
.align-C{text-align: center;}

//------------- Display Display 
.displayB{display: block;}
.displayI{display: inline;} 
.displayIB{display: inline-block;}
.displayF{display: flex;}
.displayN{display: none !important;}

//------------- Box Sizing
.border-box{box-sizing: border-box;}

//------------- Wrap Setting -------------

//------------- Scroll
.overflow-y {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 30px);
}


