// popup基本設定
%popBgSetting {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// pop背景顏色設定
// 若要顯示請加，style="display: flex;"
// <div class="popup-bg-black targetF">
.popup-bg-black {
  @extend %popBgSetting;
  z-index: 1100;
  background-color: rgba(0, 0, 0, .8);
}

//------------- popup -------------
.popup-menu {
  display: none;
  
  ul {
    position: absolute;
    top: vw(140px);
    left: 50%;
    transform: translateX(-50%);   
  }

  li {
    @include border-radius(vw(6px));
    width: vw(220px);
    height: vw(38px);
    padding-left: vw(10px);
    background-color: #414141;
    box-shadow: inset 0 vw(-1px) 0 0 rgba(0,0,0,0.50);
    font-size: vw(18px);
    line-height: vw(38px);
    list-style: none;

    &:first-child {
      all:unset;
      position: relative;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #ffffff;
    }

    .btn-menu-close {
      position: absolute;
      top: vw(-6px);
      left: vw(210px);
      width: vw(30px);
      height: vw(30px);
    }
  }
}